<div class='mat-display-2 mt-5'>About me
    <span class='portfolio-link float-right' routerLink="">Back to home</span>
</div>
<!-- <div class='mat-caption'>These are the projects that I made and being part of since 2017</div> -->

<div class="row mb-5">
    <div class="col-5">

    </div>
    <div class="col">

        <p class = 'mat-body-1'>Hi! I'm <strong>Kevin Fabian</strong> 
            I'm a Java/Kotlin backend developer.
            I'm living in Hagonoy Bulacan Philippines.
            I like playing a guitar specially fingerstyle because it is like the guitar is singing itself you don't even need a singer. Also there is a rumor that learning atleast one instrument could boost your logic no wonder that's why I'm super good at programming! kidding lol!
        </p>
        <p  class = 'mat-body-1'>
            Since I work at Whitecloak Technology Inc, this is my current company they assigned me in the long term projects like GetGoPay and Unionbank Online.
            My first project was GetGoPay I worked there for 1 year+ after the contract had finished they assigned me in Unionbank Online project.
        </p>
        <p class = 'mat-body-1'>
           Actually I learned a lot in Whitecloak I learned their structure, coding standard, techniques, securities, and disovered libraries that I didn't know it exists.
        </p>
    </div>
</div>